---
---

<footer class="footer w-full max-w-screen-md px-6 mx-auto flex items-center justify-center pt-8 pb-4">
    <span class="text-sm">Énio Carlos - &COPY; { new Date().getFullYear() }</span>
</footer>