---
---

<header class="w-full max-w-screen-md px-6 mx-auto">
    <div class="flex justify-between items-center py-8">
        <a href="/" class="text-xl text-white font-extrabold">shotbyénio.</a>
        <nav class="navbar flex gap-4 items-center justify-center text-sm">
            <a href="#">Blog</a>
            <a href="mailto:eniopauloecp@gmail.com">Mail</a>
        </nav>
    </div>
</header>