---
---

<div class="w-full flex flex-col gap-4 py-8 px-6 mt-12 bg-gray-800/[50%] rounded-lg text-gray-400 text-sm">
    <p class="w-[90%] sm:w-full">Sign up to stay up to date! Join my newsletter to be first to get notifications about new collections</p>
    <form class="w-full flex gap-2 items-center justify-center">
        <input type="email" required placeholder="yourname@example.com" class="flex w-full bg-slate-800/[90%] px-4 py-2 rounded-lg focus:ring-1 focus:ring-gray-600 outline-none"/>
        <input type="submit" value="Subscribe" class="bg-gray-200 px-4 py-2 rounded-lg text-slate-950 font-medium cursor-pointer hover:bg-gray-300"/>
    </form>
</div>